@model punto.Models.Producto

<fieldset>  
    <legend>Producto Seleccionado</legend>  
    <div class="display-label">  
        <strong> @Html.DisplayNameFor(model => model.Id) </strong>  
    </div>  
    <div class="display-field">  
@Html.DisplayFor(model => model.Id)  
</div>  
    <div class="display-label">  
        <strong> @Html.DisplayNameFor(model => model.Nombre) </strong>  
    </div>  
    <div class="display-field">  
@Html.DisplayFor(model => model.Nombre)  
</div>  
    <div class="display-label">  
        <strong> @Html.DisplayNameFor(model => model.Precio) </strong>  
    </div>  
    <div class="display-field">  
@Html.DisplayFor(model => model.Precio)  
</div>  
</fieldset>